.navbar {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (max-width: 992px) {
    justify-content: start;
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}