@import "~antd/dist/reset.css";

.content {
    padding: 1.5rem;
}

.sidebar {
    /* height: calc(100vh - 75px); */
    height: 100vh;
}

.app-name {
    color: #1677ff;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}

.user-section {
    display: flex;
    gap: 5px;
    background-color: #4096ff30;
    border-radius: 50px;
    padding: 5px;
    margin: 5px 5px 25px 5px;
}

.user-avatar {
    width: 20%;
    border-radius: 50%;
}

.collapse-user-avatar {
    width: 60%;
    border-radius: 50%;
}

.user-infos {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.collapse-user-infos {
    display: none;
}

.user-icon {
    font-size: 12px;
}

.user-name {
    font-weight: bold;
}

.user-role {
    color: gray;
}

.header-layout {
    padding: 0;
    background: #fff;
}

.ant-menu-light.ant-menu-inline .ant-menu-item::after {
    border-inline-end: 3px solid #1677ff;
}

.ant-layout {
    background: #4999fb1a;
}

a {
    text-decoration: none;
    color: #1677ff;
}

/* //.ant-menu-inline-collapsed >.ant-menu-item .anticon +span, */